<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Business Scorecard</title>
</head>
<body>
    <section class="section">
        <div class="container">
          <h1 class="title has-text-weight-bold has-text-info is-size-1 has-text-centered ">
            {{.Title}}
          </h1>
          <p class="subtitle is-size-3 has-text-centered">
            Sample card for <strong class="has-text-info">Apps Without Code</strong>!
          </p>
        </div>
      </section>
      <section class="section">
          <div class="table-container ">
              <table class="table">
                  <thead>
                      <tr>
                          <th></th>
                          <th class="">Vision</th>
                          <th class="">Goal</th>
                          <th class="">Evaluate</th>
                          <th class="">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr height="150">
                            <th class="">People</th>
                            <td height="" class="subtitle has-background-warning">Inclusive, empowering workplace</td>
                            <td class="subtitle has-background-success">Create interesting projects; have low turnover; hire stellar people</td>
                            <td class="subtitle has-background-primary">Quarterly reviews</td>
                            <td class="subtitle has-background-light">Lead top down by example</td>
                        </tr>
                        <tr height="150">
                            <th class="">Financial</th>
                            <td class="subtitle has-background-warning">Sales up; costs down :)</td>
                            <td class="subtitle has-background-success">Continue steady growth</td>
                            <td class="subtitle has-background-primary">P&L's</td>
                            <td class="subtitle has-background-light">Monitor in conjunction with employee evaluations</td>
                        </tr>
                        <tr height="150">
                            <th class="">Customers</th>
                            <td class="subtitle has-background-warning">Attract those most in need</td>
                            <td class="subtitle has-background-success">Remain accessible</td>
                            <td class="subtitle has-background-primary">on- & off-boarding interviews</td>
                            <td class="subtitle has-background-light">Bi-yearly 3rd party evaluation</td>
                        </tr>
                        <tr height="150">
                            <th class="">Growth</th>
                            <td class="subtitle has-background-warning">Consistent yet manageable by small team</td>
                            <td class="subtitle has-background-success">Grow healthily & not out of control</td>
                            <td class="subtitle has-background-primary">Sales & cost ratios; employee satisfaction</td>
                            <td class="subtitle has-background-light">Don't wait to hire when there are pain points</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
</body>
</html>